<div class="login-div">

    <div class="login-container">
        <div class="login-left">
            <img src="{{siteUrl}}assets/img/logoblack.png" alt="Logo">
            <h1>Reset Password</h1>
           
           
                    <!-- (ngSubmit)="onSubmit()" -->
            <div class="login-controls-section">
                
                <div class="form-group">
                        <label>Enter Password</label>
                        <input  [type]="password" placeholder="Enter Password"  class="form-control password" autocomplete="off" value="" [(ngModel)]="Password" appBlockCopyPaste id="Password">
                      
                        <a class="passwordshowbtn"  (click)="toggleFieldTextType()">
                                <i class="bi bi-eye" aria-hidden="true" *ngIf="!show"></i>
                                <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="show"></i>
                               
                               </a>
                              
                    </div> 
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input  [type]="password" placeholder="Enter Password"  class="form-control password" autocomplete="off" value="" [(ngModel)]="cnfPassword" appBlockCopyPaste id="Password">
                      
                        <a class="passwordshowbtn"  (click)="toggleFieldTextType()">
                                <i class="bi bi-eye" aria-hidden="true" *ngIf="!show"></i>
                                <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="show"></i>
                               
                               </a>
                              
                    </div> 


                    <p><a class="forgot-password-link" routerLink="/login">Go Back to Login</a></p>
                    <div class="mt-10 onegrid btn-div">
                        <button type="submit" class="btn btn-primary" (click)="resetPassword();"> Submit</button>
                        <button type="reset" (click)="onReset()"
                              class="btn btn-danger ml-1">Cancel</button>
                  </div>
             
            </div>

        </div>
        <div class="login-right">
         
            <img src="{{siteUrl}}assets/img/loginbg.png" alt="Normal Bg">
        </div>
    </div>


</div>
<div class="loader" *ngIf="loading">
    <div class="loader-item"></div>
    <p>Loading...</p>
  </div>