<!--===Page container===-->
<div class="page-container">
    <!--===Side Menu===-->
    <div class="overlay d-flex d-lg-none"></div>
    <div class="sidemenu">
    <app-cleftmenu></app-cleftmenu>
</div>
    <!--===Side Menu===-->

    <div class="mainpanel">
        <!--===Fix Header===-->
        <div class="header">
        <app-cheader></app-cheader>
       </div>
        <!--===Fix Header===-->
        
           
            <router-outlet ></router-outlet>
      
        <!--===controle section===-->
    </div>
</div>
