<!--===Page Title===-->
<div class="page-title">
        <h4>Preview {{formName}}</h4>
     </div>
     <!--===Page Title===-->
     <!--===controle section===-->
     <div class="page-controls-section" id="page-content">
        
                   
                       <div class="card">
                            <div class="controls-section-header">
                                    <ul class="nav nav-tabs nav-fill" role="tablist" >
                                       
                                                                                  
                                      
                                    </ul>
                                    <div class="indicatorslist">
                                       <!-- <app-utils *ngFor="let utillist of utillist" [childMessage]="utillist"></app-utils> -->
                                    </div>
                                 </div>
                        
                       <div class="card-body">
                       
                                  
                                  <!-- <app-preview-form [fromadmin]="foradmin" ></app-preview-form>  -->
                                  <app-preview-form-apply [fromadmin]="foradmin"></app-preview-form-apply>
                                           
                          
                       </div>
                          
                       </div>
                   
      </div>
                  
