<div class="sidemenu-container">
    <a class="navbar-brand" routerLink="../admin/dashboard" title="CSM Technologies">
       
        <img src="{{siteUrl}}assets/img/logowhite.svg" alt="Logo">
      <p>Document Management System</p>
    </a>
  
    <nav class="navbar" *ngIf="config==true">
      <div class="navbar-collapse justify-content-end" id="basicExampleNav">

          

        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link route-link" routerLink="../admin/dashboard"
              ><i class="icon-Dashboard1"
              ><span class="path1"></span><span class="path2"></span></i
            ><span>{{"dashboard"| langReplace}}</span></a
            >
          </li>
          <li class="nav-item mobile-view" routerLinkActive="active">
            <a class="nav-link route-link" routerLink="../admin/createdoc"
              ><i class="icon-file-image" ></i
            ><span> {{"Create Document"| langReplace}}</span></a
            >
          </li>
    <li class="nav-item" *ngFor="let item of folderarr;let j = index " [ngClass]="item.expand ? 'active' : ''">
              <a class="nav-link route-link"  (click)="loadFolderData(1+':'+'0',item.expand)"  > 
              
                <i class="tree-icon"  [ngClass]="item.expand ? 'bi bi-folder2-open' : 'bi bi-folder-fill text-warning'" ></i>
                <span class="" >{{item.folderName | langReplace}}</span> 
                </a>
 <ul class="sub-menu nav tree-submenu" [class.d-none]="!item.expand">
  <ng-container
    *ngFor="let node of item.children"
    [ngTemplateOutlet]="treeNode"
    [ngTemplateOutletContext]="{ $implicit: node }">
  </ng-container>
  </ul>
  </li>
 




      
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link route-link"  (click)="loadFolderData('1'+':'+'1',true)"
              ><i class="icon-bookmark" ></i
              ><span>{{"Bookmark Document"| langReplace}} </span></a
            >
          </li> 

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link route-link" routerLink="../admin/recentFiles"
              ><i class="icon-history-solid" ></i
              ><span>{{"Recent Documents"| langReplace}} </span></a
            >
          </li>
          <li class="nav-item" routerLinkActive="active" >
              <a class="nav-link route-link" [routerLink]="[roleId == 1 ? '../workflow/summarydocs' : '../workflow/pendingdocs']"
                ><i class="bi bi-diagram-3" ></i
                ><span>{{(roleId == 1 ? "Task"  : "My Task")| langReplace}}</span></a
              >
            </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link route-link" routerLink="../admin/sharedfiles"
              ><i class="icon-share-alt-solid" ></i
              ><span>{{"Shared Documents"| langReplace}} </span></a
            >
          </li>


  <li class="nav-item" routerLinkActive="active" *ngIf="roleId == 1">
            <a class="nav-link route-link" routerLink="../admin/userlist" 
              ><i class="icon-address-book" ></i
              ><span>{{"Contact Address"| langReplace}} </span></a
            >
          </li>  
            <!-- <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-indicator collapsed"
            href="#ManageReports"
            role="button"
            data-bs-toggle="collapse"
            aria-expanded="false"
            aria-controls="ManageReports"
          >
            <i class="icon-archive-solid"></i> Reports
          </a>
          <ul class="sub-menu nav collapse" id="ManageReports">
            <a
              class="dropdown-item route-link"
              routerLink="../admin/searchreport"
              routerLinkActive="active"
              >Search Report</a
            >
          </ul>
        </li> -->
        <li class="nav-item" routerLinkActive="active" *ngIf="roleId == 1">
          <a class="nav-link"  routerLink="../reports/allreports"><i class="icon-file-code"></i> {{"Reports"| langReplace}} </a> 
        </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" aria-current="page"   routerLink="../admin/addMeta"  ><i class="icon-tags-solid"></i>{{"Meta"| langReplace}} </a>
            </li>
         
           <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="../admin/recentactivities"><i class="icon-file-image"></i>{{"Activity Log"| langReplace}} </a>
            </li> 
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link"  routerLink="../admin/archivefiles"><i class="icon-archive-solid"></i> {{"Archive"| langReplace}} </a> 
            </li>
<!--  
            <li class="nav-item dropdown" >
              <a
                class="nav-link dropdown-indicator collapsed"
                href="#ManageConfiguration"
                role="button"
                data-bs-toggle="collapse"
                aria-expanded="false"
                aria-controls="ManageConfiguration"
              >
                <i class="icon-archive-solid"></i> Configuration
              </a>
              <ul class="sub-menu nav collapse" id="ManageConfiguration">
               
                <a class="dropdown-item route-link"  routerLinkActive="active" routerLink="../admin/addgateway">Gateway </a> 
                <a class="dropdown-item route-link"  routerLinkActive="active" routerLink="../admin/addmessageengine">Message </a> 
              </ul>
            </li> -->



           

        </ul>




      </div>
    </nav>

    <footer>
      <p>Copyright {{ currentYear }} CSM, V.1.0 </p>
    </footer>
  </div>


<ng-template #treeNode let-data>

  <li >
  <a  class="dropdown-item route-link" (click)="data.expand = !data.expand; loadFolderData(data.folderId+':'+'0',data.expand);" >
      <i class="bi expandicon" [ngClass]="data.expand ? 'bi-dash-square' : 'bi-plus-square'"></i>
      <span class="caret"  [ngClass]="data.expand ? 'bi bi-folder2-open' : 'bi bi-folder-fill text-warning'" ></span> &nbsp;
  <span class="" > {{ data.folderName }} </span>
</a>
  <ng-container *ngIf="data.children">
    <ul class="sub-menu nav" [class.d-none]="!data.expand">
      <ng-container
        *ngFor="let child of data.children"
        [ngTemplateOutlet]="treeNode"
        [ngTemplateOutletContext]="{ $implicit: child }">
      </ng-container>
    </ul>
  </ng-container>
  </li>

</ng-template>

 