
                           <div class="controls-section">
                            <div class="row">
                                       <label class="col-md-4 col-lg-3">*  {{"Parent Folder"| langReplace }} </label>
                                       <div class="col-md-6 col-lg-4">
                                           <div class="form-group">

                                                   <input type="text" class="form-control" readonly [(ngModel)]="parentfolderName">
                                                   <input type="hidden" class="form-control" readonly [(ngModel)]="selParentFolderId">
                                              
                                           </div>
                                       </div>
                                       </div> 

                                    


                                       <div class="row">
                                               <label class="col-md-4 col-lg-3" >*  {{"Folder Name"| langReplace }}</label>
                                               <div class="col-md-6 col-lg-4">
                                                   <div class="form-group">
                                                       <input type="text" id="txtFolderName" [(ngModel)]="txtFolderName" class="form-control" maxlength="30">
                                                   </div>
                                               </div>
                                               </div> 

   <div class="row">
                                                               <label class="col-md-4 col-lg-3" >*  {{"Max Allow Folder Size"| langReplace }}</label>
                                                               <div class="col-md-6 col-lg-4">
                                                                   <div class="form-group">
                                                                       <div class="d-flex">
                                                                               <input type="text" [(ngModel)]="txtAllowSize"  maxlength="3" id="txtAllowSize" (keypress)="vldChkLst.isDecimal($event)" class="form-control">
                                                                               <select class="form-select ml-2 w-50" id="selSizeType"  [(ngModel)]="selSizeType">
                                                                                       <option value="0">{{"Select"| langReplace }} </option>
                                                                                   <option value="1">KB</option>
                                                                                   <option value="2">MB</option>
                                                                                   <option value="3">GB</option>
                                                                                   <option value="4">TB</option>
                                                                               </select>
                                                                       </div>
                                                                      
                                                                   </div>
                                                               </div>
                                                               </div>

                                                               <div class="row">
                                                                    <label class="col-md-4 col-lg-3" >*  {{"Max Allow File Size"| langReplace }}</label>
                                                                    <div class="col-md-6 col-lg-4">
                                                                        <div class="form-group">
                                                                            <div class="d-flex">
                                                                                    <input type="text" [(ngModel)]="txtAllowFileSize" id="txtAllowFileSize"   maxlength="2" (keypress)="vldChkLst.isNumberKey($event)" class="form-control">
                                                                                    <select class="form-select ml-2 w-50" id="selFileSizeType"   [(ngModel)]="selFileSizeType">
                                                                                            <option value="0">{{"Select"| langReplace }}</option>
                                                                                        <option value="1">KB</option>
                                                                                        <option value="2">MB</option>
                                                                                       
                                                                                        
                                                                                    </select>
                                                                            </div>
                                                                           
                                                                        </div>
                                                                    </div>
                                                                    </div>                        
                             
                                   <div class="row ">
                                           <label class="col-md-4 col-lg-3"> </label>
                                           <div class="col-md-9">
                                                <button (click)="updateFolder()" class="btn btn-success " >  {{"Update"| langReplace }} </button> 
                                               <button (click)="resetform()" class="btn btn-danger ml-2" > {{"Cancel"| langReplace }}  </button>  
                                           </div>
                                   </div>
                           </div>
                     
                      

                           <div class="loader" *ngIf="loading">
                            <div class="loader-item"></div>
                            <p>Loading...</p>
                          </div> 