<div class="login-div">

    <div class="login-container">
        <div class="login-left">
            <img src="{{siteUrl}}assets/img/logoblack.png" alt="Logo">
            <h1>Login</h1>
           
           
                    <!-- (ngSubmit)="onSubmit()" -->
            <div class="login-controls-section">
                <div class="form-group">
                    <label>Enter User ID</label>
                    <input type="text" placeholder="Admin "  class="form-control"  value="" autocomplete="off" [(ngModel)]="UserId" appBlockCopyPaste
                    >
                    
                       
                       
                </div>
                <div class="form-group">
                        <label>Enter Password</label>
                        <input [type]="password" placeholder="Atleast 8 Characters"  class="form-control password" autocomplete="off" value="" [(ngModel)]="Password" appBlockCopyPaste>
                      
                        <a class="passwordshowbtn"  (click)="toggleFieldTextType()">
                                <i class="bi bi-eye" aria-hidden="true" *ngIf="!show"></i>
                                <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="show"></i>
                               
                               </a>
                              
                    </div> 


                  
                        

                    <input type="submit"  (click)="doLogin();" class="login-btn " value="Log In">
             
            </div>

        </div>
        <div class="login-right">
         
            <img src="{{siteUrl}}assets/img/loginbg.png" alt="Normal Bg">
        </div>
    </div>


</div>
<div class="loader" *ngIf="loading">
    <div class="loader-item"></div>
    <p>Loading...</p>
  </div>