.login-div{
    background:transparent;
    @media screen and (min-width:380px) {
        background: var(--white)
    }
    @media screen and (min-width:800px) {
        background: linear-gradient(31deg, rgb(217 245 255) 0%, rgb(255 243 225) 50%, rgb(211 244 255) 100%);
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }


}
.form-group{
    margin-bottom: 1.5rem;
}
.form-control{
display: block;
width: 100%;
height: calc(1.8em + .75rem + 2px);
padding: 0.45rem 0.75rem;
font-size: .9rem;
font-weight: 400;
line-height: 1.5;
color: var(--black);
background-color: var(--white);
background-clip: padding-box;
transition: border-color 0.15s ease-in-out;
border: 1px solid var(--bs-gray-200);
   border-radius: 4px;
box-shadow: 0 0 8px none;

    &:hover,&:focus{
        border-color:var(--bs-gray-700);
        outline:none;
        box-shadow: none;
        
    }

   

}
.pe-4{padding-right: 2rem!important}
::-webkit-input-placeholder { /* Edge */
    color: var(--bs-gray-400);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--bs-gray-400);
  }
  
  ::placeholder {
    color: var(--bs-gray-400);
  }

.form-group{position: relative;}
	.passwordshowbtn{
		position: absolute;
        right: 13px;
        top: 36px;
        font-size: 1.2rem;
		color: var(--bs-gray-400);
		&:hover{
			color: var(--base-color);
		}
    }
    .addon{
        position: absolute;
        right: 12px;
        top:11px;
       
        font-size: 1.2rem;
    }	
	.login-btn{
        display: block;
        text-align: center;
        padding: 0.6rem .5rem;
        transition: all ease-in-out 0.5s;
        color: var(--white);
        border-radius: 6px;
       
        font-size: 1rem;
       width: 100%;
        text-decoration: none;
        box-shadow: none;
        background: rgb(17, 143, 187);
        border:1px solid rgb(17, 143, 187);
    &:hover{
        color: var(--black);
        background:var(--white);
       
    }
    @media screen and (min-width:900px) {
       
        padding: 0.7rem .5rem;
       }
    
}
.login-container{
    display: flex;
    background: var(--white);
    min-height: 100vh;
    .login-left{
        padding:1.5rem;
        img{
            height: 42px;
            margin-bottom: 2.5rem;
            
        }
        h1{
            font-weight: 600;
            color: var(--black);
            font-size: 1.6rem;
            margin-bottom: 2.5rem;
        }
        p{
            color: var(--bs-gray-500);
           
        }
        label{
            margin-bottom: .5rem;
            color: var(--bs-gray-700);
            font-weight: 600;
            font-size: .8rem;
        }
        
    }
    .login-right{
        display: none;
        img{
            width: 100%;
        }
    }
    @media screen and (min-width:380px) {
        width: 370px;
        border-radius: 1rem;
        min-height: 100vh;
        margin: 0px auto;
        .login-left{
            padding:2rem;
        }
    }
    @media screen and (min-width:900px) {
        width: 800px;
        border-radius: 1rem;
        min-height: 300px;
        overflow: hidden;
        box-shadow: 0 3px 8px #dddddd;
        .login-left{
            flex: 0 0 45%;
            max-width: 45%;
            padding: 3rem;
        }
        .login-right{
            display: flex;
            flex: 0 0 55%;
            max-width: 55%;
            text-align: center;
            padding: 2rem 3rem;
            background: #fff;
            align-items: center;
        }
    }
}