.mr-1{margin-right: .5rem!important;}
.form-builder{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;


}
.control-list{
    flex: 0 0 180px;
    max-width: 180px;   
    .draggable{
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
        padding: .5rem;
        margin-bottom: .2rem;
            cursor: all-scroll;
    }
    @media screen and (min-width:1400px) {
        flex: 0 0 240px;
        max-width: 240px;   
    }
}
.parent-dropzone{
    flex: 0 0 calc(100% - 200px);
    max-width: calc(100% - 200px);
   
    height: 64vh;
    border-radius: 4px;
    position: relative;
    
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
    .draggable{
        width: 100%!important;
        position: relative;
        z-index: 999;
         border: 1px solid #e7e7e7;
        border-radius: 3px;
        --bs-bg-opacity: 1;
        background-color: #fff!important;
        padding: .7rem;
        margin-bottom: .7rem;
        height: auto!important;
        box-shadow: 0 0 6px #c0e8ff;
    }
    .firstgroup{
        margin-bottom: 0;
    }
    @media screen and (min-width:1400px) {
        flex: 0 0 calc(100% - 260px);
        max-width: calc(100% - 260px);
    }
  }
  
  .from-label{
    margin-bottom: 0.2rem;
    color: var(--bs-gray-700);
    font-size: .8rem;
  }
  
  .dropzone-close{
    position: absolute;
    left: 50%;
    border: 1px solid #e7e7e7;
    background: #fff;
    padding: 0.2rem 0.5rem;
    transform: translateY(-50%);
    bottom: -35px;
    border-radius: 4px;
  }
  .form-builder .dropzone:after {
    content: 'Drag a field from the right to this area';
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -1em;
  }
  
  .form-builder .dropzone.ui-state-highlight:after{
     content: '';
  }
    
            .placeholder {
                background-color: #edf2f7;
                border: 2px dashed #cbd5e0;
                margin-bottom: 1rem;
            }
  
  .form-builder .dropzone .draggable .top-right-items{
    position: absolute;
    right: 0;
    top: -1px;
  }
  .top-right-items a{font-size: 1rem;display: inline-block;padding: .25rem;background: #fff;border: 1px solid #e7e7e7;
    margin-right: -1px;color: #a5a5a5;}
  .top-right-items a.element-close:hover{
        background: #ef0202;
    color: #fff;
  }
  .top-right-items a.element-edit:hover{   
    background: #03a9f4;
    color: #fff;}
  .top-right-items a.element-copy:hover{
        background: #596bcd;
        color: #fff;
  }
  
  .ctrlproperies{
    //  border: 1px solid #e7e7e7;
    border-radius: 3px;
    --bs-bg-opacity: 1;
    // background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    padding-bottom: .7rem;
    position: relative;
  }
  .ctrlproperies .form-group {
    margin-bottom: 1rem;
  }
  
  .single-grid-data .top-right-items,.two-grid-data .top-right-items,.multi-grid-data .top-right-items{
    display: none;
  }
  
  .single-grid-data .UiHeadingField label,.single-grid-data .UiBtnField label,.two-grid-data .UiHeadingField label,.two-grid-data .UiBtnField label,.multi-grid-data .UiHeadingField label,.multi-grid-data .UiBtnField label{
    display: none;
  }
  
  
  
  .single-grid-data .draggable,.two-grid-data .draggable.col-md-6.UiHeadingField ,.multi-grid-data .draggable.col-md-4.UiHeadingField{
    width: 100%!important;
    max-width: 100%!important;
    height: auto!important;
  }
  .two-grid-data .draggable.col-md-6{
    width: 50%!important;
    max-width: 50%!important;
    height: auto!important;
  
  }
  .two-grid-data .UiHeadingField.col-md-6, .two-grid-data .UiHeadingField.col-lg-6, .two-grid-data .UiAddmoreField.col-lg-6,.multi-grid-data .UiHeadingField.col-md-4, .multi-grid-data .UiHeadingField.col-lg-4,.multi-grid-data .UiAddmoreField.col-lg-4, .multi-grid-data .UiAddmoreField.col-md-4{
    width: 100%!important;
    max-width: 100%!important;
  }  
  
  .multi-grid-data .draggable{
  width: 33.33333333%!important;
    max-width: 33.33333333%!important;
    height: auto!important;
  
  }
  
  
  