<!--===Page Title===-->
<div class="page-title">

    <h4>{{title| langReplace}} </h4>
</div>
<!--===Page Title===-->
<!--===controle section===-->
<div class="page-controls-section" id="page-content">
    <div class="card">
        <div class="controls-section-header">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <app-tabs *ngFor="let tablist of tablist; let i = index" [activeid]="metaid"
                    [tabMessage]="tablist"></app-tabs>
            </ul>
            <div class="indicatorslist">
                <app-utils *ngFor="let utillist of utillist" [childMessage]="utillist"></app-utils>
            </div>
        </div>

        <div class="card-body">
            <div class="controls-section">


                <div class="row">
                    <label for="" class="col-md-4 col-lg-3 form-label">* {{"Event Name"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                           
                            <select id="selectedItems" class="form-select" [(ngModel)]="selectedEvent" (change)="getStampingConfig(configId,selectedEvent)">
                                <option value="0">Select</option>
                                <option *ngFor="let item of nameList" [value]="item.id">{{item.itemName}}</option>
                               
                            </select>
                            </div>
                        </div>
                     
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-md-4 col-lg-3 form-label">* {{"Type"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                    [(ngModel)]="rdoType" id="rdotype1" value=1>
                                <label class="form-check-label" for="rdotype1">Text</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                    [(ngModel)]="rdoType" id="rdotype2" value=2>
                                <label class="form-check-label" for="rdotype2">Image</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="rdoType==2">
                    <label for="" class="col-md-4 col-lg-3 form-label">* {{"Upload Image"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <input class="form-control" type="file" id="txtStampingImage" (change)="onSelect($event)">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-1">
                        <img id="showEventImage" class="w-100" [src]="showEventImage">
                    </div>
                </div>
                <div class="row" *ngIf="rdoType==1">
                    <div class="row">
                        <label for="" class="col-md-4 col-lg-3">
                            * {{"Text"| langReplace}}
                        </label>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <textarea class="form-control" id="txtStampingText" rows="3" [(ngModel)]="stampingText" maxlength="100"></textarea>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <label for="" class="col-md-4 col-lg-3">
                            * {{"Color"| langReplace}}
                        </label>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3 ">
                                        <input class="form-control p-0" type="color" (change)="setColor(txtcolorpicker)"
                                            [(ngModel)]="txtcolorpicker">
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" type="text" [(ngModel)]="txtsetcolorpicker" (input)="setColorValue(txtsetcolorpicker)" maxlength="7">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="" class="col-md-4 col-lg-3">
                            * {{"Font Size"| langReplace}}
                        </label>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <select id="txtFontSize" class="form-select" [(ngModel)]="txtFontSize">
                                    <option value="0">Select</option>
                                    <option *ngFor="let item of fontArray" [value]="item.value">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-md-4 col-lg-3 form-label">* {{"Position"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text">x-axis</span>
                                <input type="text" class="form-control" id="txtXaxis" [(ngModel)]="txtXaxis" (keypress)="vldChkLst.isNumberKey($event)" maxlength="3">
                                <span class="input-group-text">y-axis</span>
                                <input type="text" class="form-control" id="txtYaxis" [(ngModel)]="txtYaxis"  (keypress)="vldChkLst.isNumberKey($event)" maxlength="3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-md-4 col-lg-3 form-label">* {{"Rotation"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <select id="txtRotation" class="form-select" [(ngModel)]="txtRotation">
                                <option value="0">Select</option>
                                    <option *ngFor="let item of rotationArray" [value]="item.value">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-md-4 col-lg-3 form-label">* {{"Opacity"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtOpacity" [(ngModel)]="txtOpacity" (keypress)="vldChkLst.isNumberKey($event)" maxlength="2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-md-4 col-lg-3 form-label">* {{"Page"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <select id="txtPage" class="form-select" [(ngModel)]="txtPage">
                                <option value="0">Select</option>
                                <option value="1">Each</option>
                                <option value="2">First</option>
                                <option value="3">Last</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-lg-3"> </label>
                    <div class="col-md-9"> <button class="btn btn-success" (click)="createStamping()">{{(configId>0?
                            "Update": "Save") | langReplace}}</button><button (click)="formReset()" class="btn btn-danger ml-2" > {{"Reset" | langReplace}} </button> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loader" *ngIf="loading">
        <div class="loader-item"></div>
        <p>Loading...</p>
    </div>