.configuration{
        margin: 5rem auto;
        background-color: var(--white);
        border-radius: 5px;
        padding: 2rem;
        box-shadow: 0 0 5px 2px var(--base-color-200);
        width: 800px;
}