
   
       <section class="configuration"> 
        <h5 class="mb-4">General Configuration</h5>


        <div class="">
        
            <div class="form-group">
                <div class="row">
                    <label for="" class="col-md-4">
                        Max Size (in GB)
                    </label>
                    <div class="col-md-8"><input type="number" class="form-control"></div>
                </div>
            </div>
            <div class="form-group">
            <div class="row">
                <label for="" class="col-md-4">
                    Max Users
                </label>
                <div class="col-md-8">
                    <input type="number" class="form-control">
                </div>
            </div>
            </div>
            <div class="form-group">
            
                <div class="row">
                    <label for="" class="col-md-4">
                        Welcome Message
                    </label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="" rows="2"></textarea>
                    </div>
                </div>
                
              
              
            </div>
            <div class="form-group">
            <div class="row">
                <label for="" class="col-md-4">
                    Session Timeout (in Min)
                </label>
                <div class="col-md-8">
                    <input type="number" class="form-control">
                </div>
            </div>
</div>
          
           <div class="separator separator-dashed"></div>
           <h5 class="mb-4">OCR Configuration</h5>
           <div class="form-group">
                <div class="row">
                    <label for="" class="col-md-4 form-label">Enable</label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                    </div>
                </div>
         
           </div>
           <div class="form-group">
            <div class="row">
                <label for="" class="col-md-4 form-label">Include Extentions</label>
                <div class="col-md-8">
                  <select id="" class="form-select"></select>
                </div>
            </div>
         </div>
         <div class="form-group">
            <div class="row">
                <label for="" class="col-md-4 form-label">Frequency</label>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <select id="" class="form-select">
                                <option value="0">Select</option>
                                <option value="1">Min</option>
                                <option value="2">Hour</option>
                                <option value="3">Day</option>
                              </select>
                        </div>
                    </div>
                 
                </div>
            </div>
         </div>
         <div class="separator separator-dashed"></div>
         <div class="d-flex justify-content-end">
            <button class="btn btn-success mr-1">Submit</button>
            <button class="btn btn-danger">Reset</button>
        </div>   
        </div>

        </section>

