<div class="controls-section">


    <div class="">
        <div class="row">
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>*  {{"Document Name" | langReplace}} </label>
                            <input type="text" class="form-control" readonly [(ngModel)]="txtFileName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>* {{"Folder Name" | langReplace}}</label>

                            <input type="text" class="form-control" readonly [(ngModel)]="folderName">
                            <input type="hidden" class="form-control" readonly [(ngModel)]="folderid">
                            <!-- <select class="form-select" [(ngModel)]="selFolderName" id="selfolder" (change)="getPermissions($event)">
                                                           <option value="0">Select</option>
                                                           <option *ngFor="let flist of folderlist" [value]="flist.folderId">{{flist.folderName}}</option>
                                                       </select> -->
                        </div>
                    </div>




                    <div class="col-md-6" *ngIf="fileid > 0">
                        <div class="form-group">
                            <label>{{"Document Number" | langReplace}}</label>
                            <input type="text" value="CSM/FN/22/001" readonly [(ngModel)]="txtFileNumber"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{"OCR Language" | langReplace}} </label>
                            <select class="form-select" [(ngModel)]="selOcrLang">
                                <option value="0">{{"Select" | langReplace}} </option>
                                <option value="1">English</option>
                                <option value="2">Hindi</option>
                                <option value="3">Odia</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{"Set retention period of a file" | langReplace}} </label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoSetretention" (click)="rtrdoClick($event)" [(ngModel)]="rdoSetretention" id="rdoSetretention1" value="1">
                                    <label class="form-check-label" for="rdoSetretention1">{{'Yes' | langReplace}}</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoSetretention" (click)="rtrdoClick($event)"  [(ngModel)]="rdoSetretention" id="rdoSetretention2" value="2" checked>
                                    <label class="form-check-label" for="rdoSetretention2">{{'No'| langReplace}}</label>
                                  </div>
                            </div>


                         
                         </div>
                    </div>

                    <div class="col-md-6" *ngIf="(rdoSetretention=='1' )&&( checkinoutstatus <= 1) ">
                        <div class="form-group">
                            <label>* {{"Retention Date" | langReplace}}</label>
                            <input type="date" placeholder="DD-MM-YYYY"  min="{{currenttime | date:'yyyy-MM-dd'}}" id="expiryDate" class="form-control"
                                [(ngModel)]="txtExpDate">
                            <!-- <div class="input-group ">
                                                                   <input type="text" readonly placeholder="DD-MM-YYYY" class="form-control" [(ngModel)]="txtExpDate" [minDate]="txtEfminDate" 
                                                                   #dp="bsDatepicker"
                                                                      bsDatepicker [bsConfig]="{showWeekNumbers: false, isAnimated: true,dateInputFormat: 'DD-MM-YYYY',customTodayClass:'custom-today-class' }">
                                                                      <span (click)="dp.toggle()" class="input-group-text" id="basic-addon2"><i class="icon-calendar-alt"></i></span>
                                                                   </div>  -->

                            <!-- {{txtExpDate}} -->

                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="checkinoutstatus <= 1">
                        <div class="form-group">
                            <label>* {{"Subject" | langReplace}} </label>
                            <textarea class="form-control" id="txtSubject" [(ngModel)]="txtSubject" cols="3" rows="3">

                                                        </textarea>

                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="checkinoutstatus > 1 && checkinUpload">
                        <div *ngIf="fileeList?.length == 0">
                            <div class="custom-dropzone" ngx-dropzone (change)="onSelect($event)">
                              <ngx-dropzone-label>
                                <div>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="63" height="64" viewBox="0 0 63 64">
                                    <g fill-rule="nonzero">
                                      <path
                                        d="M42.656 15.135a1.953 1.953 0 0 1-1.391-.578L31.5 4.795l-9.765 9.762a1.97 1.97 0 1 1-2.785-2.785L30.106.616a1.97 1.97 0 0 1 2.785 0l11.157 11.156a1.97 1.97 0 0 1-1.392 3.363z" />
                                      <path
                                        d="M31.5 36.791a1.97 1.97 0 0 1-1.969-1.969V2.01a1.97 1.97 0 0 1 3.938 0v32.812a1.97 1.97 0 0 1-1.969 1.969z" />
                                      <path
                                        d="M55.781 63.041H7.22A7.225 7.225 0 0 1 0 55.822V41.385a4.599 4.599 0 0 1 4.594-4.594h7.234a4.567 4.567 0 0 1 4.402 3.276l2.814 9.382a.658.658 0 0 0 .628.467h23.656a.658.658 0 0 0 .628-.467l2.814-9.385a4.572 4.572 0 0 1 4.402-3.273h7.234A4.599 4.599 0 0 1 63 41.385v14.437a7.225 7.225 0 0 1-7.219 7.219zM4.594 40.729a.656.656 0 0 0-.657.656v14.437a3.286 3.286 0 0 0 3.282 3.282H55.78a3.286 3.286 0 0 0 3.282-3.282V41.385a.656.656 0 0 0-.657-.656h-7.234a.65.65 0 0 0-.628.467L47.73 50.58a4.628 4.628 0 0 1-4.402 3.274H19.672a4.567 4.567 0 0 1-4.402-3.276l-2.814-9.382a.65.65 0 0 0-.628-.467H4.594z" />
                                    </g>
                                  </svg>
                
                                  <h3>{{"Drag and drop document here" | langReplace}} </h3>
                                  <h3>{{"or" | langReplace}} </h3>
                                  <label for="fileDropRef">{{"Browse for file" | langReplace}} </label>
                                </div>
                              </ngx-dropzone-label>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-12" *ngIf="checkinoutstatus > 1">
                        <div class="form-group">
                            <label>* {{"Remark" | langReplace}} </label>
                            <textarea class="form-control" id="userRemark" [(ngModel)]="userRemark" cols="3" rows="3">

                                                        </textarea>

                        </div>
                    </div>

                    <div class="col-md-12" *ngIf="checkinoutstatus <= 1">
                        <div class="form-group">
                            <label> {{"Tags" | langReplace}} </label>
                            <!-- <tag-input [(ngModel)]="txtTags" class="form-control" (onRemove)="onLikeRemove($event)">
                                                            </tag-input> -->
                            <ngx-tags-input class="form-control input-lg" (onTagsChanged)="onTagsChanged($event)"
                                [(ngModel)]="txtTags" name="tags"></ngx-tags-input>
                            <!-- //<input type="text" class="form-control" [(ngModel)]="txtTags"> -->
                        </div>
                    </div>


                    <div class="col-md-12" *ngIf="checkinoutstatus <= 1">
                        <div class="form-group">
                                                           

                            <div class="row">
                                <div class="col-6">
                                        <label>*  {{"Select Template"| langReplace}}</label>
                                    <select class="form-select" [(ngModel)]="selMeta" id="selMeta" (change)="getMetaType(selMeta)">
                                        <option value="0"> {{"Select"| langReplace}} </option>
                                        <option *ngFor="let flist of metalist" [value]="flist.templateId">{{flist.templateName}}</option>
                                      </select>   
                                      
                                     
            
                                </div>
                             
                            </div>  
                        </div>
                           <div class="p-3 bg-light mb-3" *ngIf="getmetaTypeList?.length > 0">
                            <div class="row">
                                    <div class="col-md-6" *ngFor="let gtype of getmetaTypeList;let x=index">
                                        <div class="form-group">
                                             <label>*  {{gtype.labelName}}</label>
                                             <div *ngIf="gtype.metaType==1">
                                               <input type="text" class="form-control" id="{{gtype.labelName}}" [(ngModel)]="gtype.value">
                                            </div>
                                            <div *ngIf="gtype.metaType==2">
                                               <input type="date" class="form-control" id="{{gtype.labelName}}" max="2100-12-31" [(ngModel)]="gtype.value">
                                            </div>
                                            <div *ngIf="gtype.metaType==3">
                                                <input type="number" class="form-control" id="{{gtype.labelName}}" [(ngModel)]="gtype.value">
                                             </div>
                                        </div>
                                       
                                    </div>
                            </div>
                       
                         
                         
            </div>
                    </div>

                  


                </div>









                <div class="" *ngIf="checkinoutstatus <= 1">

                    <button class="btn btn-success" (click)="finalfileupload()">{{"Update" | langReplace}} </button> &nbsp;
                    <button  type="button" class="btn btn-danger" (click)="resetform()" >{{"Cancel" | langReplace}} </button>  
                </div>
                <div class="" *ngIf="checkinoutstatus > 1">

                    <button class="btn btn-success" (click)="checkinFile(fileid)">{{"Check In" | langReplace}} </button> &nbsp;
                    <!-- <button  type="button" class="btn btn-danger" >Reset</button>   -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative" style="min-height:400px">
                    <!-- <h5 class="mb-1">Preview File</h5> -->
                    <!-- <div class="previewdiv" id="previewdiv">
                                            <iframe [src]="publicurl"></iframe>

                                           


                                                <div class="loader loader2" *ngIf="fileLoading">
                                                    <div class="loader-item"></div>
                                                    <p>Loading...</p>
                                                  </div>
                                        
                                            </div>  -->
                    <div *ngIf="prevstatus">
                        <div class="previewdiv" *ngIf="!(filetype =='mp4' || filetype =='mp3' || filetype =='zip')"
                            id="previewdiv">
                            <iframe [src]="publicurl"></iframe>



                            <div class="loader loader2" *ngIf="fileLoading">
                                <div class="loader-item"></div>
                                <p>Loading...</p>
                            </div>
                        </div>
                        <div class="videopreviewdiv"
                            *ngIf="filetype =='mp4' || filetype =='MP4' ||  filetype =='WebM' || filetype =='mkv' ||  filetype =='avi' ||  filetype =='webm'"
                            id="videopreviewdiv">
                        </div>
                        <div class="audiopreviewdiv" *ngIf="filetype =='mp3' || filetype =='MP3'" id="audiopreviewdiv">
                        </div>
                        <div class="zipdiv" *ngIf="filetype =='zip' || filetype =='ZIP'" id="zipdiv">


                        </div>
                        <div class="text-center mt-4" *ngIf="checkinoutstatus==0">
                            <button *ngIf="lockstatus != 1" class="btn btn-primary btn-dropzone d-inline-block"
                                (change)="onSelect($event)" ngx-dropzone>Upload New Version</button>
                        </div>
                    </div>
                    <div class="lockmodaldiv" *ngIf="!prevstatus">
                        <div class="div-body">
                            <h5 class="modal-title mb-2" id="lockModalLabel">{{"Lock File" | langReplace}} </h5>
                            <div class="text-center">
                                <div class="form-group">

                                    <div class="input-group ">
                                        <input type="password" placeholder="Enter File Password" id="txtPassword" class="form-control"
                                            [(ngModel)]="txtPassword">




                                    </div>

                                </div>



                                <button class="btn btn-primary" (click)="unsetPassword()">{{"Submit" | langReplace}} </button>
                                <!--  -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>





<div class="loader" *ngIf="loading">
    <div class="loader-item"></div>
    <p>Loading...</p>
</div>