
<!--===Page Title===-->
<div class="page-title">
   
    <h4>{{"Admin Console" | langReplace}} </h4>
    </div>
    <!--===Page Title===-->
    <!--===controle section===-->
    <div class="page-controls-section" id="page-content">
  <div class="card">
      
      <div class="card-body">
                
                <!--begin::Form-->
                
                          <h3 class="no-content">Welcome Admin</h3>
                
                      <!--end::Form-->
     </div>
   
              </div> 
  </div>
  
