<!--===Page Title===-->
<div class="page-title">

    <h4>{{title| langReplace}} </h4>
</div>
<!--===Page Title===-->
<!--===controle section===-->
<div class="page-controls-section" id="page-content">
    <div class="card">
        <div class="controls-section-header">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <app-tabs *ngFor="let tablist of tablist; let i = index" [activeid]="metaid"
                    [tabMessage]="tablist"></app-tabs>
            </ul>
            <div class="indicatorslist">
                <app-utils *ngFor="let utillist of utillist" [childMessage]="utillist"></app-utils>
            </div>
        </div>

        <div class="card-body">
            <div class="controls-section">
                <div class="row">
                    <label class="col-md-4 col-lg-3">* {{"Meta Paired Name"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtFieldName" [(ngModel)]="txtFieldName"  (keypress)="vldChkLst.blockSpecialCharacterAllPostion($event)" maxlength="30">

                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <label class="col-md-4 col-lg-3">* {{"Meta Configuration"| langReplace}} </label>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Form *</th>
                                            <th>Field *</th>
                                            <th width="80px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="metaid==''">
                                            <tr *ngFor="let templetList of templateArray;let i=index">
                                                <td>{{templetList.templatelabel}}</td>
                                                <td>
                                                    {{templetList.labeltype}}
                                                    <!-- <span *ngIf="templetList.labeltype==1">String</span>
                                                    <span *ngIf="templetList.labeltype==2">Date</span>
                                                    <span *ngIf="templetList.labeltype==3">Integer</span> -->
                                                </td>
                                                <td><a class="text-danger px-2" (click)="removeSectionval(i)"><i
                                                            class="bi bi-trash"></i></a></td>
                                            </tr>
                                        </ng-container>
                                        <ng-container *ngIf="metaid>0">
                                            <tr *ngFor="let templetList of templateArray;let i=index">
                                                <td>{{templetList.templatelabelDisplay}}</td>
                                                <td>
                                                    {{templetList.labeltypeDisplay}}
                                                    <!-- <span *ngIf="templetList.labeltype==1">String</span>
                                                    <span *ngIf="templetList.labeltype==2">Date</span>
                                                    <span *ngIf="templetList.labeltype==3">Integer</span> -->
                                                </td>
                                                <td><a class="text-danger px-2" (click)="removeSectionval(i)"><i
                                                            class="bi bi-trash"></i></a></td>
                                            </tr>
                                        </ng-container>
                                        <tr id="addMoreTr">
                                            <td>
                                                <select id="selectedItems" class="form-select" [(ngModel)]="formId" (change)="getFormFieldList(formId)">
                                                    <option value="0">Select</option>
                                                    <option *ngFor="let item of nameList" [id]="item.vchProcessName" [value]="item.intProcessId">{{item.vchProcessName}}</option>
                                                   
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-select" id="selMetaType" [(ngModel)]="fieldId">
                                                    <option value="0"> {{"Select"| langReplace}} </option>
                                                    <option *ngFor="let item of fieldList" [id]="item.ctrlLabel" [value]="item.ctrlId">{{item.ctrlLabel}}</option>
                                                </select>
                                            </td>
                                            <td> <a class="btn btn-info px-2" href="javascript:void(0)"
                                                    (click)="addMetaVals()"><i class="icon-plus-solid"></i></a></td>
                                        </tr>
                                        <!-- <tr>
                                            <td>
                                                <input type="text" id="txtTypeLabel" [(ngModel)]="txtTypeLabel"
                                                    class="form-control" (keypress)="vldChkLst.isAlphaNumeric($event)" maxlength="30">
                                            </td>
                                            <td>
                                                <select class="form-select" id="selMetaType" [(ngModel)]="selMetaType">
                                                    <option value="0"> {{"Select"| langReplace}} </option>
                                                    <option value="1">String</option>
                                                    <option value="2">Date</option>
                                                    <option value="3">Integer</option>
                                                </select>
                                            </td>
                                            <td> <a class="btn btn-info px-2" href="javascript:void(0)"
                                                    (click)="addMetaVals()"><i class="icon-plus-solid"></i></a></td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-lg-3">* {{"Select Department"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <select id="selectedDepartment" class="form-select" [(ngModel)]="departmentId" (change)="getRole(departmentId)">
                                <option value="0">Select</option>
                                <option *ngFor="let item of departmentsList" [value]="item.deptId">{{item.departmentName}}</option>
                               
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="departmentId>0">
                    <label class="col-md-4 col-lg-3">* {{"Select Role"| langReplace}} </label>
                    <div class="col-md-6 col-lg-4">
                        
                            <div class="form-check" *ngFor="let roles of rolelist;let i=index;" id="rolerow_{{i}}">
                                <input class="form-check-input chkrole" [checked]="roles.checked"
                                    (change)="rolechange($event,i,roles.roleId)"
                                    type="checkbox" id="chkPerRole_{{roles.roleId}}">
                                <label class="form-check-label chkrole" for="chkPerRole_{{roles.roleId}}">
                                    {{roles.roleName}}
                                </label>
                            </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-lg-3"> </label>
                    <div class="col-md-9"> <button class="btn btn-success" (click)="createMeta()">{{(metaid==''? "Save":
                            "Update") | langReplace}}</button>

                        <button type="reset" (click)="metaid >  0 ? onCancel() : onReset()" class="btn btn-danger ml-1">
                            {{metaid > 0 ?
                            'Cancel':'Reset'}} </button>


                    </div>
                    <!-- <pre>
                        {{formDetail | json}}
                      </pre>  -->
                </div>
                

                <!-- <ngx-dropzone-preview *ngFor="let f of files_dropped" [removable]="true" (removed)="onRemove(f)">
                                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview> -->

            </div>
        </div>
    </div>

    <div class="loader" *ngIf="loading">
        <div class="loader-item"></div>
        <p>Loading...</p>
    </div>