<!--===Page Title===-->
<div class="page-title">
   
    <h4>{{title| langReplace}}  </h4> 
    </div>
    <!--===Page Title===-->
    <!--===controle section===-->
    <div class="page-controls-section" id="page-content">
                    <div class="card">
                    <div class="controls-section-header">
                       <ul class="nav nav-tabs nav-fill" role="tablist" >
                          <app-tabs *ngFor="let tablist of tablist; let i = index" [activeid]="metaid" [tabMessage]="tablist"></app-tabs>  
                       </ul>
                    <div class="indicatorslist">
                       <app-utils *ngFor="let utillist of utillist" [childMessage]="utillist"></app-utils> 
                          </div>
                          </div>
                    
                    <div class="card-body">
                       <div class="controls-section">
                            <div class="row">
                                    <label class="col-md-4 col-lg-3">* {{"Meta Name"| langReplace}} </label>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                                <input type="text" class="form-control" id="txtFieldName" [(ngModel)]="txtFieldName">
                                           
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                            <label class="col-md-4 col-lg-3">* {{"Description"| langReplace}} </label>
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <textarea class="form-control" id="txtFieldDesc"  rows="3" cols="3" [(ngModel)]="txtFieldDesc">

                                                    </textarea>
                                                    
                                                </div>
                                            </div>
                                            </div>
                                           <div class="row">
                                                    <label class="col-md-4 col-lg-3">* {{"Type"| langReplace}}  </label>
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="form-group">
                                                               
                                                            <select class="form-select" id="selMetaType" [(ngModel)]="selMetaType">
                                                                <option value="0"> {{"Select"| langReplace}} </option>
                                                                <option value="1">String</option>
                                                                <option value="2">Date</option>
                                                                <option value="3">Integer</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    </div> 
                                            <div class="row form-group">
                                                    <label class="col-md-4 col-lg-3"> </label>
                                                    <div class="col-md-9"> <button  class="btn btn-success" (click)="createMeta()">{{(metaid==''?  "Save": "Update") | langReplace}}</button>  </div>
                                            </div>
                                  <!-- <ngx-dropzone-preview *ngFor="let f of files_dropped" [removable]="true" (removed)="onRemove(f)">
                                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview> -->
                   
                        </div>
                    </div> 
    </div>

    <div class="loader" *ngIf="loading">
        <div class="loader-item"></div>
        <p>Loading...</p>
      </div> 