<div class="card">
        <div class="card-body">
            
            <div class="pdf-container">
                <!-- <header class="action-bar">
                  <span id="pdf-url">
                    PDF URL :
                    <input type="text" [(ngModel)]="url" (change)="initPdf()" /> </span
                  >&nbsp;&nbsp;
                  <span>
                    <input
                      type="file"
                      (change)="pdfOnload($event)"
                      id="pdf-upload"
                      accept=".pdf"
                      multiple="false"
                  /></span>
                  <span id="my_pdf_viewer">
                    <span id="zoom_controls">
                      Zoom : <input type="text" [value]="scale * 100" style="width:50px" />
                      <button id="zoom_in" (click)="zoomInOut(zoomStep)">+</button>
                      <button id="zoom_out" (click)="zoomInOut(-zoomStep)">-</button>
                    </span> </span
                  >&nbsp;
                  <span>
                    <input type="text" [(ngModel)]="KeywordToFind" />
                    <button (click)="findKeyword()">rechercher</button>
                    <span *ngIf="nbOccuranceKeyword">
                      <button (click)="resetFindedKeyword()">annuler</button>
                      <strong> {{ activeFindedKeyword + 1 }}/{{ nbOccuranceKeyword }}</strong>
                      <button (click)="goPrevKeyword()"><</button>
                      <button (click)="goNextKeyword()">></button>
                    </span>
                  </span>
                  &nbsp;
                  <span>
                    <button (click)="drawPlygon()" [disabled]="activeDrowMode">Zone</button>
                    <button (click)="addAnnotation()">Note</button>
                    <button (click)="disableDrowMode()">annuler</button>
                  </span>
                  &nbsp;
                </header> -->
              
                <section id="canvas-container"></section>
              </div>
          
        </div>
</div>