

<!--===Page Title===-->
<div class="page-title">
        
        <h4>{{"Change Password" | langReplace}}</h4>
        </div>
        <!--===Page Title===-->
        <!--===controle section===-->
        <div class="page-controls-section" id="page-content">
        <div class="card">
               
            <div class="card-body">
                <div class="row">
                    <label class="col-lg-2 col-md-4 pt-2">* {{"Current Password"| langReplace}}</label>
                    <div class="col-lg-4 col-md-8">
                            <div class="form-group">
                                        <div class="input-group ">
                                    <input [type]="password" id="txtOldPass" [(ngModel)]="txtOldPass" class="form-control  border-end-0"  >
                                    <span class="input-group-text border-start-0" (click)="toggleFieldTextType()">
                                        <i class="bi bi-eye" aria-hidden="true" *ngIf="!show"></i>
                                        <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                       
                                      
                                       </span>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="row">
                            <label class="col-lg-2 col-md-4 pt-2">* {{"New Password"| langReplace}}</label>
                            <div class="col-lg-4 col-md-8">
                                    <div class="form-group">
                                                    <div class="input-group mb-3">
                                                                    <input [type]="npassword" [(ngModel)]="txtNewPass" id="txtNewPass" class="form-control border-end-0" maxlength="15" minlength="8"  >
                                                                 
                                                                    <span class="input-group-text border-start-0" (click)="toggleFieldNTextType()">
                                                                                <i class="bi bi-eye" aria-hidden="true" *ngIf="!nshow"></i>
                                                                                <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="nshow"></i>
                                                                               
                                                                              
                                                                               </span>
                                                                    <span class="input-group-text" id="basic-addon2"><a ngbTooltip="Password Must 8 to 15 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character"><i class="bi bi-info-circle"></i></a></span>
                                                                  </div>
                                          
                                    </div>
                            </div>
                    </div>
    
     
              
                    <div class="row">
                            <label class="col-lg-2 col-md-4 pt-2">* {{"Confirm Password"| langReplace}}</label>
                            <div class="col-lg-4 col-md-8">
                                    <div class="form-group">
                                                    <div class="input-group ">
                                                                    <input [type]="cpassword" id="txtConPass" [(ngModel)]="txtConPass" class="form-control border-end-0"   >
                                                                    <span class="input-group-text border-start-0" (click)="toggleFieldCTextType()">
                                                                                <i class="bi bi-eye" aria-hidden="true" *ngIf="!cshow"></i>
                                                                                <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="cshow"></i>
                                                                               
                                                                              
                                                                               </span>
                                                                  
                                                                    <span class="input-group-text" id="basic-addon2"><a ngbTooltip="Password Must 8 to 15 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character" title=""><i class="bi bi-info-circle"></i></a></span>
                                                                  </div>
                                           
                                      
                                    </div>
                            </div>
                            </div>
                            <div class="row">
                                <label class="col-lg-2 col-md-4"></label>
                                <div class="col-lg-4 col-md-8">
                                    <button  class="btn btn-success" (click)="changePassword()">{{"Submit"| langReplace}}</button> &nbsp; 
                                    <button  type="button" class="btn btn-danger" >{{"Reset"| langReplace}}</button>  
                                </div>
                                </div>
         
             
            </div>
         </div>
         
        </div>
