<div class="page-title">
      <h4>{{title}}</h4>
    </div> 
                        
      <div class="card">   
      <div class="controls-section-header"> 
      <ul class="nav nav-tabs">
      <li class="nav-item">
            <a class="nav-link " aria-current="page" 
            routerLink="{{itemID > 0 ? '../../../adminconsole/manage-employee-type':'../../adminconsole/manage-employee-type'}}" 
            routerLinkActive="active" 
            href="#">{{itemID > 0 ? "Edit":"Add"}} </a>
      </li>
       <li class="nav-item">
                                    <a class="nav-link " href="#"  
                                    routerLink="{{itemID > 0 ? '../../../adminconsole/viewmanage-employee-type':'../../adminconsole/viewmanage-employee-type'}}" 
                                    routerLinkActive="active">View</a>
                              </li>
      </ul> 
      </div>
<div class="card-body">

                                                
      <form [formGroup]="manage_employee_type" (ngSubmit)="submitForm()">
            <div class="generator">
      <div class="onegrid">
      <input type="hidden" formControlName="intId" >
      <div class="form-group" >
                                          <label Class="w-full text-md " >Employee Type <span class="text-danger">*</span> </label>
                                          <div class="control-item">
                                             
                                                <input type="text"  formControlName="txtEmployeeType" (keyup)="vldChkLst.blockSpecialCharacterAllPostion($event,false)" minlength="2" maxlength="30"   id="txtEmployeeType" placeholder="" class="form-control ">
                                    </div>
                                    </div>
                                    <div class="form-group" >
                                          <label Class="w-full text-md " >Alias Name</label>
                                          <div class="control-item">
                                              
                                                <input type="text"  formControlName="txtAliasName" (keyup)="vldChkLst.blockSpecialCharacterAllPostion($event,false)" minlength="3" maxlength="30"   id="txtAliasName" placeholder="" class="form-control " >
                                    </div>
                                    </div>
                                    
      
      </div>   
      <div class="mt-10 onegrid btn-div">
            <button type="submit" class="btn btn-primary"> {{itemID >  0 ? 'Update':'Submit'}} </button>
   <button type="reset"  (click)="itemID >  0 ? onCancel() : onReset()" class="btn btn-danger ml-1"> {{itemID >  0 ? 'Cancel':'Reset'}}  </button>
  
      </div>   
</div>              
      </form>
      </div>
      </div>

      <div class="loader" *ngIf="loading">
            <div class="loader-item"></div>
            <p>Loading...</p>
          </div>