<div class="login-div">

    <div class="login-container">
        <div class="login-left">
            <img src="{{siteUrl}}assets/img/logoblack.png" alt="Logo">
            <h1>Forgot Password</h1>
           
           
                    <!-- (ngSubmit)="onSubmit()" -->
            <div class="login-controls-section" *ngIf="userIdEntry">
                <div class="form-group">
                    <label>Email ID / Mobile No</label>
                    <input autofocus type="text" placeholder="Enter User ID "  class="form-control"  value="" autocomplete="off" [(ngModel)]="UserId" appBlockCopyPaste id="UserId">  
                </div>
                
                        

                <p class="align-right"><small><a class="forgot-password-link" routerLink="/login">Back to Login</a></small></p>
                    <div class="mt-10 onegrid btn-div">
                        <button type="submit" class="btn btn-primary" (click)="doVerifyTest();"> Verify</button>
                        <button type="reset" (click)="onResetUserId()"
                              class="btn btn-danger ml-1">Cancel</button>
                  </div>
             
            </div>
            <div class="login-controls-section" *ngIf="userOtpEntry">
                <p><small>An OTP has been sent to your Registered Email ID</small></p>
                <div class="form-group">
                    <label>Enter OTP</label>
                    
                    <input autofocus type="text" placeholder="Enter OTP "  class="form-control"  value="" autocomplete="off" [(ngModel)]="userOtp" appBlockCopyPaste id="UserId" minlength="6" maxlength="6" (keypress)="validation.isNumberKey($event)">     
                </div>
                <p><a class="forgot-password-link" (click)="resendOtp();">Resend OTP</a></p>
                <p class="align-right"><small><a class="forgot-password-link" routerLink="/login">Back to Login</a></small></p>
                    <div class="mt-10 onegrid btn-div">
                        <button type="submit" class="btn btn-primary" (click)="doVerifyOTP();"> Verify OTP</button>
                        <button type="reset" (click)="onResetOtp()"
                              class="btn btn-danger ml-1">Cancel</button>
                  </div>
             
            </div>

        </div>
        <div class="login-right">
         
            <img src="{{siteUrl}}assets/img/loginbg.png" alt="Normal Bg">
        </div>
    </div>


</div>
<div class="loader" *ngIf="loading">
    <div class="loader-item"></div>
    <p>Loading...</p>
  </div>