<div [ngSwitch]="childMessage.utilName">
   
    <div *ngSwitchCase="'mandatory'">
        <p class="ml-2">( * ) {{"Indicates Mandatory Fields"}}</p>
    </div>
    <div *ngSwitchCase="'search'">
        <a id="searchicon" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" ngbTooltip="Search"  
            (click)="opensearch()" data-original-title="Search"><i class="icon-search1"></i></a>
    </div>
    <div *ngSwitchCase="'print'">
     
        <a id="printicon" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" ngbTooltip="Print"
            (click)="printTable()" data-original-title="Print"><i class="icon-print-solid"></i></a>
    </div>

    <div *ngSwitchCase="'delete'">
        <a id="deleteicon" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" ngbTooltip="Delete"
            (click)="deleteAll(sendIds,funType,tableName)" data-original-title="Delete" *ngIf="intDeleteRight==1"><i class="icon-trash-solid"></i></a>
    </div>
    <div *ngSwitchCase="'publish'">
        <a id="publishicon" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" ngbTooltip="publish"
            (click)="publishAll(sendIds,funType,pubUnpubStatus,tableName)" data-original-title="Publish" *ngIf="publishRight==1"><i
                class="icon-volume-up-solid"></i></a>
    </div>
    <div *ngSwitchCase="'unpublish'">
        <a id="unpublishicon" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" ngbTooltip="unpublish"
            (click)="unpublishAll(sendIds,funType,pubUnpubStatus,tableName)" data-original-title="Unpublish" *ngIf="publishRight==1"><i
                class="icon-volume-off-solid"></i></a>
    </div>


    <!-- <div *ngSwitchCase="'download'">
                        <a  title="" href="javascript:void(0)" id="downloadicon" data-toggle="tooltip" data-placement="top" data-original-title="Download"><i class="icon-download-solid"></i></a>
                    </div> -->



                    <div *ngSwitchCase="'back'">
                        <a  title="" href="javascript:void(0)" id="backicon" data-toggle="tooltip"  ngbTooltip="Back" data-placement="top" (click)="backClicked()" data-original-title="Back"><i class="icon-arrow-left-solid"></i></a>
                    </div>
                    <div *ngSwitchCase="'active'">
                        <a  id="activeicon" href="javascript:void(0)" ngbTooltip="active" data-toggle="tooltip" data-placement="top" title="" (click)="activeAll(sendIds,funType,activeDeactiveStatus,tableName)"  data-original-title="Publish" class="text-success"><i class="icon-check-solid"></i></a>
                    </div>
                    <div *ngSwitchCase="'inActive'">
                        <a  id="inactiveicon" href="javascript:void(0)" ngbTooltip="inActive" data-toggle="tooltip" data-placement="top" title="" (click)="inactiveAll(sendIds,funType,activeDeactiveStatus,tableName)" data-original-title="Unpublish" class="text-danger"><i class="icon-times-solid"></i></a>
                    </div>



                    <!-- <div *ngSwitchCase="'delete'">
                        <a id="deleteicon" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" ngbTooltip="Delete"
                        (click)="deleteAll(sendIds,funType)" data-original-title="Delete"><i class="icon-trash-solid"></i></a>
                    </div> -->


                    
                    
                <div *ngSwitchDefault></div>
             </div>

        
             
    
