<div class="fixed-topmenu">

   <a class="nav-toggle-btn" (click)="togglemenu()">

      <span></span>
      <span></span>
      <span></span>
   </a>

   <nav class="navbar navbar-expand-lg  p-0">
      <ul class="navbar-nav mb-2 mb-lg-0">


         <li class="hideinmobile"><a href="javascript:void(0)" routerLink="../admin/createdoc"
               class="btn btn-warning text-dark btn-sm px-2 shadow-none rounded">{{"Create Document"| langReplace }}</a>
         </li>
         <li><a href="javascript:void(0)" id="notifications" data-target="#newnotification-section"
               (click)="notificationOpen()" class="notifications"><i class="icon-bell"></i><span
                  class="badge badge-pill bg-danger">{{totalNotificationCount}}</span></a></li>
         <li><a href="javascript:void(0)" title="Configuration">
               <span class="text-right ">
                  <i class="bi bi-gear"></i>
               </span>
            </a>
            <div class="header-dropdown">

               <ng-container *ngFor="let mlist of menulistarr;let mi=index">


                  <a routerLinkActive="active"
                     *ngIf="roleName == 'Administrator' || roleName == 'Admin'  || mlist.intViewManageRight==1"
                     routerLink="..{{mlist.vchUrl}}"><i
                        [ngClass]="commonserveice.getmenuicons(mlist.vchLinkName)"></i><span>{{ mlist.vchLinkName|
                        langReplace}} </span></a>

               </ng-container>

            </div>




         </li>
         <li>
            <div class="language">
               <!-- <span class="text-light">Language &nbsp;</span>    -->
               <select class="langsel" #langSelect (change)="changeLang(langSelect.value)">
                  <option *ngFor="let lang of languageList"
                     [selected]="(prefrenceLang==lang.vchAliasName) ? true : false" [value]="lang.vchAliasName">{{
                     lang.vchLanguageName | langReplace }}</option>






               </select>
               <!-- <label>{{'Captcha Code' | translate}}</label> -->
            </div>
         </li>



         <li class="hideinmobile"><a href="javascript:void(0)">
               <span class="text-right me-2">
                  {{"Hi"| langReplace }}, {{username}} <small class="d-block mt-1"> ( {{desgName}} )</small>
               </span>
               <img src="{{siteUrl}}assets/img/user.png" alt="user"> </a>
            <div class="header-dropdown">

               <!-- <a href="profile.html" class=""><i class="icon-user-circle"></i> Profile</a> -->
               <a routerLink="../adminconsole/adminconsole-dashboard" class=""
                  *ngIf="roleName == 'Administrator' || roleName == 'Admin'"><i class="bi bi-shield-check"></i>{{"AdminConsole"| langReplace }} </a>
               <a routerLink="./changepassword" class=""><i class="icon-lock-solid"></i>{{"Change Password"| langReplace
                  }} </a>
               <a href="javascript:void(0)" (click)="logout()" class="bg-theme text-light"><i class="icon-arrow60"></i>
                  {{"SignOut"| langReplace }}</a>
            </div>

         </li>

      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="bi bi-three-dots-vertical"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="mobile-profile">

            <li class="profile">
               <a href="javascript:void(0)">
                  <img src="{{siteUrl}}assets/img/user.png" alt="user">
                  <span class="text-left ml-2">
                     {{"Hi"| langReplace }}, {{username}} <small class="d-block mt-1"> ( {{desgName}} )</small>
                  </span>
               </a>
            </li>
            <li *ngIf="roleName == 'Administrator' || roleName == 'Admin'">
               <a routerLink="./adminconsole/adminconsole-dashboard" class="">{{"Admin Console"| langReplace }} </a>
            </li>
            <li>
               <a routerLink="./changepassword" class="">{{"Change Password"| langReplace }} </a>
            </li>
            <li>
               <a href="javascript:void(0)" (click)="logout()">{{"SignOut"| langReplace }}</a>
            </li>

 </ul>


      </div>

   </nav>




</div>


<div class="notification-sec" id="newnotification-section">
   <div class="d-flex justify-content-between">
      <h5>{{"Notifications"| langReplace }} </h5>
      <a class="text-info div-close" href="javascript:void(0)" (click)="divclose()"><i
            class="bi bi-arrow-right"></i></a>
   </div>


   <a class="notification-items">
      Next 5 Days Retention Documents <span> {{fileRetention ? fileRetention : 0}}</span>
   </a>

   <a class="notification-items">
      Last 7 Days Shared Documents <span> {{fileShared ? fileShared :0}}</span>
   </a>

   <a class="notification-items">
      Pendding Documents <span> {{takeAction ? takeAction : 0}}</span>
   </a>

   <!-- <a class="notification-items">
  <span> {{otherNotification}}</span>
</a> -->

 <ul>

      <!-- <li class="unread" *ngFor="let flist of notificationList">
                                      <a href="javascript:void(0)" (click)="loadpreview(flist.fileId,flist.fileType,flist.filePath,0,flist.lockStatus)" class="text-dark">
                                        <span class="d-block text-primary">{{flist.fileName }}
                                      </span> 
                                         {{flist.notificationMessage }}
                                         <small class="d-block">{{flist.notificationMessageDate}}</small>
                                      </a>
                                     
                                   </li> -->

   </ul>

</div>